@use '../custom' as *;

.contact{
	margin-top: 12rem;
	h1 {
     text-align: center;
     margin-bottom: 1rem;
     font-weight: 600;
     filter: drop-shadow(0.20em 0.30em 0.2em);
     font-size: 3rem;
     text-decoration: underline;
     @include media-breakpoint-only(md) {
     	margin-top: -2rem;
     }
      @media (min-width: 768px) and (max-width: 991px) { 
            margin-top: 1rem;
        }
     @include media-breakpoint-down(sm) {
     	margin-top: -3rem;
     }
	}
	.map {
    iframe {
    	@include media-breakpoint-up(lg) {
    		width: 70rem;
    		height: 25rem;
    		border-radius: 1rem;
    	}
         @media (min-width: 1400px) and (max-width: 2695px) { 
            margin-left: -1rem;
            width: 100%;
        }
         @media (min-width: 1200px) and (max-width: 1399px) { 
            margin-left: -1rem;
        }
         @media (min-width: 992px) and (max-width: 1199px) { 
            width: 100%;
        }
    	@include media-breakpoint-only(md) {
    		margin-left: 1.5rem;
    		width: 40rem;
    		border-radius: 1rem;
    	}
         @media (min-width: 576px) and (max-width: 767px) { 
            width: 100%;
        }
    	@include media-breakpoint-down(sm) {
    	margin-left: 0.3rem; 
      width: 19rem;
      height: 17rem; 
      border-radius: 0.5rem;
    }
     @media (min-width: 340px) and (max-width: 575px) { 
             width: 100%;
        } 
    }
	}
}
address {
    margin-top: 2rem;
    h1 {
         color: #17223e;
     filter: drop-shadow(0.20em 0.30em 0.2em);
         text-decoration: underline;
    }
    p {
        margin-top: 2rem;

    }
    .contact-details {
        ul li {
            list-style-type:  none;
            span {
             margin-left: -2rem;
             font-weight:  bold;
            }
        }
    }
}