@use '../custom' as *;
.facilities {
	@include media-breakpoint-up(lg) {
		margin-top: 12rem;
	}
	@include media-breakpoint-only(md) {
		margin-top: 10rem;
	}
   @media (min-width: 576px) and (max-width: 767px) { 
    margin-top: 10rem;
   }
	@include media-breakpoint-down(sm) {
		margin-top: 8rem;
	}
	h1 {
    @include media-breakpoint-up(lg) {
      font-weight: 700;
      margin-bottom: 2rem;
      filter: drop-shadow(0.20em 0.30em 0.2em);
		}
		 @include media-breakpoint-only(md) {
      font-weight: 700;
      filter: drop-shadow(0.20em 0.30em 0.2em);
      margin-bottom: 2rem;
    }
     @media (min-width: 576px) and (max-width: 767px) { 
      font-weight: 700;
      filter: drop-shadow(0.20em 0.30em 0.2em);
      margin-bottom: 2rem;
   }
		 @include media-breakpoint-down(sm) {
      font-weight: 700;
      filter: drop-shadow(0.20em 0.30em 0.2em);
      margin-bottom: 2rem;

		}
	}
	h2 {
		@include media-breakpoint-up(lg) {
      font-weight: 200;
      font-size: 1.5rem;
      margin-right: 5rem;
      margin-bottom: 2rem;
      color: black;
		}
		@include media-breakpoint-only(md) {
      font-weight: 200;
      font-size: 1.3rem;
      margin-right: 4rem;
      margin-bottom: 1.5rem;
      line-height: 2.7rem;
      color: black;
		}
    @media (min-width: 576px) and (max-width: 767px) { 
      font-weight: 200;
      font-size: 1.3rem;
      margin-right: 4rem;
      margin-bottom: 1.5rem;
      line-height: 2.7rem;
      color: black;
   }
		@include media-breakpoint-down(sm) {
      font-weight: 200;
      font-size: 1rem;
      margin-right: 2rem;
      margin-bottom: 1.5rem;
      line-height: 2rem;
      color: black;
		}
	}
	.pics {
		@include media-breakpoint-up(lg) {
      margin-top: 5rem;
		}
		@include media-breakpoint-only(md) {
			
		}
		@include media-breakpoint-down(sm) {
			
		}
		.image-1 {
     filter: drop-shadow(0.50em 0.60em 0.3em);
        @include media-breakpoint-only(md) {
     	margin-top: 1rem;
     }
		h1{
			margin-top: 2rem;
			 @include media-breakpoint-down(sm) {
     	text-align: left;
     	margin-left: 11rem;
     	margin-top: -10rem;
     	margin-bottom: 2.5rem;
      }

		}
		}
		.image-2 {
     margin-top: -2rem;
     text-align: center;
     filter: drop-shadow(0.50em 0.60em 0.3em);
     @include media-breakpoint-only(md) {
     	margin-top: -1rem;
     }
      @media (min-width: 576px) and (max-width: 767px) { 
    margin-top: 2rem;
   }
      @include media-breakpoint-down(sm) {
      margin-top: 3rem;
     }
		h1 {
      text-align: center;
      @include media-breakpoint-up(lg) {
      margin-top: 1rem;
     }
      @include media-breakpoint-only(md) {
     	margin-top: 1rem;
     }
     @include media-breakpoint-down(sm) {
     	text-align: left;
     	margin-top: -14rem;
      margin-left: 4rem;
      }
		}
		}
		.image-3 {
      text-align: center;
     filter: drop-shadow(0.50em 0.60em 0.3em);
     @include media-breakpoint-only(md) {
     	margin-top: 1rem;
     }
      @include media-breakpoint-down(sm) {
      margin-top: 10rem;
     }
		h1 {
      text-align: center;
      margin-top: 2rem;
      margin-right: 2rem;
       @include media-breakpoint-down(sm) {
     	text-align: left;
      margin-top: -0.2rem;
     	margin-left: 7.5rem;
     	font-size: 2.3rem;
      }
		}
		}
	}
}