@use '../custom' as *;
@use '../components/mixins' as *;


.footer-1 {
	margin-top: 15rem;
	 @include media-breakpoint-down(md) {
	 	width: 100%;
	   }
	 @include media-breakpoint-only(md) {
	 	width: 100%;
	   }
	@include media-breakpoint-down(sm) {
		display: none;
	}

.items {
    margin-top: 0.5rem;
	h1 {
     font-size: 2.5rem;
	}
	ul {
		li {
			list-style-type: none;

			a {
       margin-left: -2rem;
       font-size: 1.5rem;
       text-decoration: none;
       &:hover {
       	text-decoration: underline;
       }
			}
		}
	}
}
.contact {
	margin-top: 0.5rem;
	h2 {
   font-size: 2.5rem;
	}
	h3 {
    font-size: 1.5rem;
	}
	ul {
		margin-left: -2rem;
		font-size: 1.5rem;
		li {
			list-style-type: none;

			span {
				margin-left: 1rem;
				font-weight: bold;

			}
		}
	}
}
.image {
	h1 {

	}
	h2 {
   a {
   	text-decoration: none;
   }
	}
	h3 {
     font-size: 1rem;
	}
}

	
.copyrights {
	margin-top: 5rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,24,51,1) 35%, rgba(0,212,255,1) 100%);

}
}
	
.footer-2 {

	@include media-breakpoint-up(md) {
		display: none;
	}

  @include media-breakpoint-down(md) {
		display: none;
	}
	@include media-breakpoint-down(sm) {
		display: block;
	   }
  
	padding-top: 1rem;
	margin-top: 5rem;
	background-color: $footer;


	.contact-box {
		position: relative;

		&__icon {
			width: 3rem;
			stroke: $primary;
			padding-top: 0.5rem;
		}

		&__info {
			padding: 0.4rem;
			font-weight: 600;

			&--title {
				color: $white;
				text-decoration: none;
				font-size: 1rem;
			}

			&--subtitle {
				font-size: 0.8rem;
				color: $gray-600;
				text-decoration: none;
			}
		}
	}
}

.footer-sm {
	a {
		color: $white;
		i {
			font-size: 2rem;
			margin-left: 1rem;
		}
      &:hover {
    	color: $primary;
    	text-decoration: underline;;
    }
  }
}

.company-list {
	a {
		color: $white;
		text-decoration: none;

		&:hover {
			color: $primary;
			text-decoration: underline;
		}
	}

}
.footer-bottom {
	background-color: $black;
	&__copyright {
		color: $gray-600;
		font-weight: 400;

		a {
			color: $gray-300;
			text-decoration: none;

			&:hover {
				color: $primary;
				text-decoration: underline;
			}
		}
	}
}

.back-to-top {
	position: fixed;
	bottom: 1.875rem;
	width: 4rem;
	height: 4rem;
	z-index: 9999;
	background-color:  #0b0a2a;
	  @media (min-width: 2756px) and (max-width: 4275px)  { 
	  margin-left: 77rem;
	  }
	  @media (min-width: 1400px) and (max-width: 2755px)  { 
    margin-left:  77rem;
     } 	
      @media (min-width: 1200px) and (max-width: 1399px)  { 
    margin-left: 66rem;
     } 	
     @media (min-width: 991px) and (max-width: 1199px)  { 
    margin-left: 55rem;
     } 
     @media (min-width: 1px) and (max-width: 990px)  { 
     right: 1.875rem;
     } 	
	i {
		color: white;
		font-size: 2rem;
		@include absolutecenter;

	}
}


