@use'../custom' as *;
.menu {
	margin-top: 6rem;
  @include media-breakpoint-only(lg) {
  height: 5rem;
  margin-bottom: -8rem;
}
  @include media-breakpoint-up(md) {
    background-color: #b9b9b9;
    height: 5rem;
     margin-top: 7rem;
   }
  
   @media (min-width: 758px) and (max-width: 767px) { 
     margin-top: 5.8rem;
   }
  @media (min-width: 689px) and (max-width: 757px) { 
     margin-top: 5.8rem;
   }
     @media (min-width: 576px) and (max-width: 687px) { 
     margin-top: 5.8rem;
   }
	
 	
  @include media-breakpoint-down(md) {
  background: rgb(198,198,198);
	background: linear-gradient(180deg, rgba(198,198,198,1) 0%, rgba(240,240,246,1) 100%);	
  }
  @include media-breakpoint-only(md) {
  background: rgb(198,198,198);
	background: linear-gradient(180deg, rgba(198,198,198,1) 0%, rgba(240,240,246,1) 100%);	
  }
  @include media-breakpoint-down(sm) {
  background: rgb(198,198,198);
  background: linear-gradient(180deg, rgba(198,198,198,1) 0%, rgba(240,240,246,1) 100%);
  margin-top: 3.7rem;
  }
  .dropdown {
  		@include media-breakpoint-up(lg) {
      margin-top: -17rem;
      background-color: #16213d;
      padding: 0.5rem;
      padding-top: 1rem;
      display: none;
     }
     @media (min-width: 1395px) and (max-width: 2755px) { 
       margin-left: 16rem;
      }
     @include media-breakpoint-down(md) {
  			margin-right: 4rem;
  		}
     	@include media-breakpoint-only(md) {
  			margin-right: 8rem;
  		}
  			@include media-breakpoint-down(sm) {
          margin-left: 6rem;
  		}
         
      @media (min-width: 50px) and (max-width: 333px) { 
      margin-right: 2.5rem;
     }
      @media (min-width: 124px) and (max-width: 344px) { 
        margin-left: 5.2rem;
     }
      @media (min-width: 124px) and (max-width: 314px) { 
        margin-left: 3rem;
     }
     
    
  	a {


  		text-decoration: none;
  		color: white;
 		  font-family: 'Noto Nastaliq Urdu', serif;
      font-size: 1.1rem;
      font-weight: 100;

      	@include media-breakpoint-only(md) {
  			color: black;
  			font-size: 1.4rem;
  		}
       @media (min-width: 576px) and (max-width: 767px) { 
      color: black;
      }
     
  		@include media-breakpoint-down(sm) {
  			color: black;
  		}

     
  	}
  }
  .dropdown-menu {
  	background-color: #16213d;
  	 @media (min-width: 61px) and (max-width: 989px) { 
	  	left: 50 !important;
	  	right: auto !important;
	  	text-align: center !important;
	  	transform: translate(-27%, 0) !important;
      }
  	@include media-breakpoint-only(md) {
  		background-color: #16213d;
  		
  		}
  	@include media-breakpoint-down(sm) {
  		background-color: #16213d;
  		
  		}
  		&:hover {
  			@include media-breakpoint-down(sm) {
  		background-color: #c1c1c1;
       a {
       	color: black;
       	text-decoration: underline;

       }
  		}
  		}
  	a {
  		color: white;
  	
  		@include media-breakpoint-only(md) {
  		color: white;
  		&:hover {
  			color: black;
  			text-decoration: underline;

     }
   }
  	}
  }
  .another {
  	display: block;
  	 @media (min-width: 52px) and (max-width: 991px) { 
  	 display: none;
  	 } 	
  	 .another-1 {
  	background-color: #16213d;
  	 @media (min-width: 991px) and (max-width: 2755px) { 
     	  	
	  	left: 50 !important;
	  	right: auto !important;
	  	text-align: right !important;
	  	transform: translate(-38%, 0) !important;
      }
       @media (min-width: 2756px) and (max-width: 3242px) { 
          
      left: 50 !important;
      right: auto !important;
      text-align: right !important;
      transform: translate(-38%, 0) !important;
      }
  	 @media (min-width: 991px) and (max-width: 2755px) { 
  		background-color: #16213d;
  		&:hover {
  		background-color: #563d7c;
       a {
       	color: white;

  	    	}
  		  }
  	a {
  		color: white;
  		margin-right: 2rem;
  		font-size: 1.2rem;
   		&:hover {
  			text-decoration: underline;
           }
  	     }
    	 }
       @media (min-width: 2756px) and (max-width: 3242px) { 
      background-color: #16213d;
      &:hover {
      background-color: #563d7c;
       a {
        color: white;

          }
        }
    a {
      color: white;
      margin-right: 2rem;
      font-size: 1.2rem;
      &:hover {
        text-decoration: underline;
           }
         }
       }
     }   	 
   }
	.navbar-brand img {
		position: absolute;
		@include media-breakpoint-up(lg) {
			right: 4rem;
			top: 0;
			width: 7rem;
			margin-top: -0.5rem;
			display: none;
		}
    
			@include media-breakpoint-down(md) {
		  margin-top: -2.4rem;
		  width: 6rem;
		}
			@include media-breakpoint-only(md) {
		  margin-top: -2.4rem;
		  width: 6rem;
		}
		@include media-breakpoint-down(sm) {
			top: 2.2rem;
			width: 5rem;
			left: 0;
		}
	}
	span {
		@include media-breakpoint-up(lg) {
    margin-top: 1.5rem;
		}
	}
	.navbar-nav {
   ul {
    li {
       @media (min-width: 1395px) and (max-width: 2755px) { 
   margin-left: -3rem;
  margin-right: 3.9rem;
  width: 7rem;
  }
       @media (min-width: 1395px) and (max-width: 1400px) { 
       margin-right: 3.3rem;
       width: 6rem;
       }
       @media (min-width: 992px) and (max-width: 1199px) { 
       margin-right: 3.5rem;
       width: 6rem;
       
       }
      float: left;
      list-style-type: none;
      background-color: black;
        height: 5rem;
      -webkit-border-radius: 5px;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius: 5px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-radius: 5px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 8.3rem;
  margin-left: -3rem;
  margin-right: 3.4rem;
 
   @media (min-width: 50px) and (max-width: 991px) { 
       display: none;
      }
   @include media-breakpoint-down(sm) {
    display: none;
      }
    }
   }
		a {

		@include media-breakpoint-up(lg) {
			color: white !important;
			margin-top: 1.5rem;
			font-size: 1.1rem;
			margin-left: 1rem;
		  }
       @media (min-width: 1395px) and (max-width: 2755px) { 
        font-size: 0.8rem;
       }


      @media (min-width: 991px) and (max-width: 1199px) { 
      font-size: 0.8rem;
      }
       @media (min-width: 1395px) and (max-width: 1399px) { 
      font-size: 0.9rem;
      }
		@include media-breakpoint-down(md) {
			text-align: right;
			margin-right: 1rem;
			font-weight: 900;
			font-size: 1.3rem;
			display: none;
			}
     

		@include media-breakpoint-only(md) {
			text-align: right;
			margin-right: 1rem;
			font-weight: 900;
			font-size: 1.3rem;
			display: none;
			
		}
		@include media-breakpoint-down(sm) {
      text-align: right;
			margin-right: 0.5rem;
			font-weight: 900;
			font-size: 1.3rem;
			display: none;
		
      } 
		}
  	}
.navbar-nav-1{
	@include media-breakpoint-up(lg) {
		display: none;
	}
	a {
		@include media-breakpoint-down(md) {
			display: block;
			text-align: right;
			font-weight: 900;
			font-size: 1.3rem;
			color: #5a5a5a;
			}
        
       @media (min-width: 576px) and (max-width:  767px) { 
       text-align: left;
       margin-top: 1rem;
       line-height: 1rem;

       &:hover {
        text-decoration: underline;
       }
       }
		@include media-breakpoint-only(md) {
			display: block;
			text-align: right;
			font-weight: 900;
			font-size: 1.3rem;
			color: #5a5a5a;
			
		}
    @media (min-width: 768px) and (max-width:  991px) { 
       text-align: left;
       margin-top: 1rem;
       line-height: 1rem;

       &:hover {
        text-decoration: underline;
       }
       }
	@include media-breakpoint-down(sm) {
		display: block;
		color: #5a5a5a;
		font-weight: 900;
		font-size: 1rem;
    text-align: left;
    margin-top: 1.5rem;
    line-height: 0.1rem;
    margin-left:  -1rem;
    &:hover {
      text-decoration: underline;
    }
	}
	}
}
}
