@use '../custom' as *;

.accordion-button {
  	h6 {
      @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      margin-top: 0.5rem;

      }
       @include media-breakpoint-only(md) {
  	   font-family: 'Lato', sans-serif;
      font-weight: 600;
      margin-top: 0.5rem;
	    }

	    @include media-breakpoint-down(sm) {

        font-size: 0.7rem;
        line-height: 1.5rem;
        margin-right: 0.5rem;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        margin-top: 0.5rem;
	    } 

		
  }
  h5 {
      @include media-breakpoint-up(lg) {
	     margin-top: 1rem;
  	    font-family: 'Lato', sans-serif;
       font-weight: 600;
       margin-top: 0.5rem;
       font-size: 1.5rem;

      }
       @include media-breakpoint-only(md) {
  	   font-family: 'Lato', sans-serif;
       font-weight: 600;
       margin-top: 0.5rem;
  	   font-size: 1rem;
	    }
	   
	    @include media-breakpoint-down(sm) {

        font-size: 0.7rem;
        line-height: 1.5rem;
        margin-right: 0.5rem;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        margin-top: 0.5rem;
	    } 
    }
     h4 {
      @include media-breakpoint-up(lg) {
	      font-family: 'Lato', sans-serif;
        font-weight: 600;
        margin-top: 0.5rem;
        font-size: 1.5rem;


      }
       @include media-breakpoint-only(md) {
  	  
  	  font-size: 1rem;
      margin-right: 0.5rem;
      line-height: 2rem; 
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      margin-top: 0.5rem; 
	    }
	   
	    @include media-breakpoint-down(sm) {

        font-size: 0.7rem;
        line-height: 1.5rem;
        margin-right: 0.5rem;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        margin-top: 0.5rem;
	    } 
    }


		
}
